$color-top-header-link-verticalbar: #919191;
$color-mid-search-button: #3b8de0;
$color-mid-search-button-hover: #2074c8;
$color-mid-searchbar-placeholder: #919191;
$color-text-link-hover: #58b5d3;
$color-text-link: #585858;
$color-mid-terms-border: #d1d1d1;
$color-mid-terms-link-hover-background: #e7e7e7;
$color-footer: #2a2a2a;
$color-footer-text: #919191;


$header-height: 60px;

$mid-search-height: 678px;
  $mid-search-box-bottom-height: 110px;
  $mid-search-box-bottom-searchbar-width: 534px;
  $mid-search-box-bottom-search-height: 50px;
  $mid-search-box-bottom-search-width: 434px;
  $mid-search-box-bottom-search-button-width: 100px;
  $border-radius-searchbar: 5px;
$mid-theme-height: 150px;
$mid-banner-height: 100px;
$mid-sitemap-width: 960px;
  $mid-sitemap-height: 268px;
$mid-terms-height: 49px;
