@charset "UTF-8";
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  width: 1000px;
  clear: both;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic','Malgun Gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #585858;
}

a:hover {
  color: #58b5d3;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  padding: 4px 20PX;
  border-radius: 5px 0 0 5px;
  font-family: 'Nanum Gothic','Malgun Gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

button {
  border: 0;
  padding: 0;
  border-radius: 0 5px 5px 0;
  font-family: 'Nanum Gothic','Malgun Gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

header.top-header {
  height: 60px;
  border-bottom: 1px solid #eee;
  max-width: 2000px;
}

header.top-header > nav.top-header {
  height: 60px;
  max-width: 2000px;
  margin: 0 auto;
}

header.top-header > nav.top-header ul.link {
  float: left;
}

header.top-header > nav.top-header ul.link.right-1 {
  padding-right: 44px;
}

header.top-header > nav.top-header ul.link.right-2 a {
  font-size: 12px;
}

header.top-header > nav.top-header ul.link li {
  float: left;
}

header.top-header > nav.top-header ul.link li#img-dabang-pro::after {
  content: '|';
  font-size: 13px;
  color: #919191;
  padding-left: 0px;
  padding-top: 21px;
  vertical-align: top;
  display: inline-block;
  font-family: 'Nanum Gothic','Malgun Gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

header.top-header > nav.top-header ul.link a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
}

header.top-header > nav.top-header ul.link a#link-logo {
  padding-left: 20px;
  padding-right: 10px;
}

header.top-header > nav.top-header ul.link a#link-pro {
  padding-left: 10px;
  padding-right: 6px;
}

header.top-header > nav.top-header ul.link a#link-pay {
  padding-left: 10px;
  padding-right: 10px;
}

header.top-header > nav.top-header ul.link a img.img-logo {
  position: relative;
  top: 10%;
}

header.top-header > nav.top-header ul.link a img.img-p {
  position: relative;
  top: 0%;
}

header.top-header > nav.top-header div.right {
  float: right;
}

header.top-header > nav.top-header div.right a {
  padding-left: 20px;
  padding-right: 20px;
}

section.mid-section > nav.mid-search {
  height: 678px;
  width: 100%;
}

section.mid-section > nav.mid-search div.mid-search-box {
  position: absolute;
  height: 678px;
  overflow: hidden;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-1 {
  background-image: url(./img/mid_background_new.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-2 {
  background-repeat: no-repeat;
  background-position: center bottom;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom {
  height: 110px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom-search {
  position: absolute;
  height: 50px;
  width: 534px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom-search fieldset {
  border: none;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom-search legend {
  display: none;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom-search input {
  float: left;
  box-sizing: border-box;
  height: 50px;
  width: 434px;
  font-size: 14px;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom-search input::placeholder {
  color: #919191;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom-search button {
  background-color: #3b8de0;
  color: #fff;
  float: left;
  height: 50px;
  width: 100px;
  font-size: 15px;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom-search button:focus {
  outline: none;
}

section.mid-section > nav.mid-search div.mid-search-box.mid-search-box-bottom-search button:hover {
  background-color: #2074c8;
  transition-duration: 0.1s;
}

section.mid-section > nav.mid-theme {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
}

section.mid-section > nav.mid-theme div.mid-theme-header {
  text-align: center;
  margin-top: 71px;
  margin-bottom: 30px;
}

section.mid-section > nav.mid-theme div.mid-theme-header h1 {
  font-size: 36px;
  margin: 0;
}

section.mid-section > nav.mid-theme div.mid-theme-header p {
  font-size: 20px;
  margin: 0;
  padding-top: 5px;
}

section.mid-section > nav.mid-theme div.mid-theme-table table {
  margin: auto;
  border-spacing: 30px;
  padding-bottom: 120px;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr {
  font-size: 0;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a {
  display: inline-block;
  width: 300px;
  height: 300px;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a:hover div.mid-theme-link-image {
  transform: scale(1.1);
  opacity: 0.6;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger {
  position: relative;
  height: 100%;
  width: 100%;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-image {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.3s, opacity 0s;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-image.img-n1 {
  background-image: url(./img/th1.jpg);
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-image.img-n2 {
  background-image: url(./img/th2.jpg);
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-image.img-n3 {
  background-image: url(./img/th3.jpg);
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-image.img-n4 {
  background-image: url(./img/th4.jpg);
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-image.img-n5 {
  background-image: url(./img/th5.jpg);
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-image.img-n6 {
  background-image: url(./img/th6.jpg);
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-image-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 42, 42, 0.4);
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-typo {
  width: 100%;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 96px;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-typo h2 {
  font-size: 24px;
  color: #fff;
  padding: 0;
  margin: 0;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-typo div.white-bar {
  width: 46px;
  height: 1px;
  background-color: #fff;
  margin: 23px auto;
}

section.mid-section > nav.mid-theme div.mid-theme-table table tr td a div.mid-theme-hanger div.mid-theme-link-typo p {
  font-size: 13px;
  color: #fff;
  padding: 0;
  margin: 0;
}

section.mid-section > div.mid-banner {
  height: 100px;
  width: 100%;
  background-image: url(./img/mid_bottom_banner_pattern.png);
}

section.mid-section > div.mid-banner a {
  background-position: center;
  background-image: url(./img/mid_bottom_banner.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
}

section.mid-section > nav.mid-sitemap {
  width: 960px;
  height: 268px;
  margin: 48px auto 71px;
}

section.mid-section > nav.mid-sitemap div.mid-sitemap {
  float: left;
  width: 190px;
}

section.mid-section > nav.mid-sitemap div.mid-sitemap.sitemap-div-3 ul:nth-of-type(1) {
  margin-bottom: 22px;
}

section.mid-section > nav.mid-sitemap div.mid-sitemap.sitemap-div-4 {
  width: 170px;
  margin-left: 30px;
}

section.mid-section > nav.mid-sitemap div.mid-sitemap.sitemap-div-4 ul:nth-of-type(1) {
  margin-bottom: 22px;
}

section.mid-section > nav.mid-sitemap div.mid-sitemap.sitemap-div-5 {
  width: 170px;
  margin-left: 20px;
}

section.mid-section > nav.mid-sitemap div.mid-sitemap ul h3 {
  font-size: 15px;
  line-height: 1.9;
  color: #585858;
  margin: 0;
}

section.mid-section > nav.mid-sitemap div.mid-sitemap ul li {
  font-size: 13px;
  line-height: 1.9;
}

section.mid-section > nav.mid-terms {
  height: 49px;
  width: 100%;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

section.mid-section > nav.mid-terms div.mid-terms-box {
  width: 960px;
  height: 49px;
  margin: 0 auto;
}

section.mid-section > nav.mid-terms div.mid-terms-box a {
  display: inline-block;
  width: 136px;
  height: 49px;
  font-size: 13px;
}

section.mid-section > nav.mid-terms div.mid-terms-box a:hover {
  background-color: #e7e7e7;
  color: #585858;
}

section.mid-section > nav.mid-terms div.mid-terms-box div {
  width: 136px;
  height: 49px;
  margin: 0 auto;
  border-right: 1px solid #d1d1d1;
  text-align: center;
  line-height: 49px;
  float: left;
}

section.mid-section > nav.mid-terms div.mid-terms-box div:nth-of-type(1) {
  border-left: 1px solid #d1d1d1;
}

footer.footer {
  width: 100%;
  height: 268px;
  background-color: #2a2a2a;
  font-size: 13px;
  color: #919191;
}

footer.footer div.footer-box {
  width: 960px;
  height: 120px;
  margin: 0 auto;
  padding-top: 93px;
  padding-bottom: 55px;
  position: relative;
}

footer.footer div.footer-box div {
  float: left;
}

footer.footer div.footer-box div.footer-box-div-2 {
  position: relative;
  width: 288px;
  margin-left: 45px;
}

footer.footer div.footer-box div.footer-box-div-2 h4 {
  color: #fff;
  margin: 0 0 11px 0;
}

footer.footer div.footer-box div.footer-box-div-2 li {
  margin-bottom: 17px;
}

footer.footer div.footer-box div.footer-box-div-2 span:nth-of-type(2) {
  margin-left: 10px;
}

footer.footer div.footer-box div.footer-box-div-3 {
  position: relative;
  top: 26px;
  width: 323px;
  margin-left: 4px;
}

footer.footer div.footer-box div.footer-box-div-3 li {
  margin-bottom: 11px;
}

footer.footer div.footer-box div.footer-box-div-3 a {
  color: #919191;
}

footer.footer div.footer-box div.footer-box-div-3 a:hover {
  color: #fff;
}

footer.footer div.footer-box div.footer-box-div-4 {
  position: relative;
  top: 104px;
  margin-left: 3px;
}
